@import url("https://use.typekit.net/dpt4jsr.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#gorilla360 {
    width: 100%;
    height: auto;
}
#gorilla360 #slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 900px; /* Tamaño máximo en escritorio */
    height: auto; /* Altura automática */
    position: relative;
    margin: 0 auto;
}
#gorilla360 #slider .slide {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 66.67%; /* Relación de aspecto 3:2 */
    display: none;
}
#gorilla360 #slider .slide.active {
    display: block;
}
#gorilla360 #slider .slide canvas,
#gorilla360 #slider .slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* GORILLA 360 */
#gorilla360.contenedor {
    width: 100%;
    max-width: 1366px;
    padding: 40px 20px;
    margin: 0 auto;
    font-family: "balboa", sans-serif;
}
#gorilla360 .contenedor-flex {
    width: 100%;
    display: flex;
    gap: 40px;
}
#gorilla360 .columna {
    width: 100%;
    align-self: center;
}
#gorilla360 .columna--texto {
    flex: 0 0 35%;
}
#gorilla360 .columna--slider {
    flex: 0 0 65%;
}
#gorilla360 .texto {
    color: #000;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.6;
    font-family: SFPRODISPLAYBOLD;
}
#gorilla360 .texto p:nth-of-type(2) {
    color: #636363;
    font-size: 16px;
    font-weight: bold;
}

#gorilla360 .texto-titulo {
    font-family: FontsFree-Net-Balboa-W01-Bold !important;
    margin-bottom: 40px;
}
#gorilla360 .columna--slider .texto-titulo h2 {
    color: #000;
    font-family: FontsFree-Net-Balboa-W01-Bold !important;
    font-size: 3rem !important;
    font-weight: 600;
    text-align: center;
    line-height: 1 !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0 !important;
}
#gorilla360 .aviso {
    color: #000;
    font-size: bolder;
    display: block;
    width: 100%;
    max-width: 500px;
    background-color: #f5f5f7;
    border: 1px solid #c8d6e3;
    border-radius: 99px;
    margin: 28px auto;
    padding: 10px;
}
#gorilla360 #uploadForm {
    width: 100%;
    max-width: 500px;
    font-size: 24px;
    margin: 0 auto;
}

/* Estilo para los botones de carga de archivos */
.custom-file-upload {
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #292929;
    border-radius: 99px;
    transition: background-color 0.3s ease;
}
.custom-file-upload:hover {
    background-color: #7ac402;
}
.file-input {
    display: none;
}

/* BRILLO A LA PANTALLA */
.glowing-shadow {
    box-shadow: 20px 20px 20px rgba(241, 1, 1, 1);
    transition: box-shadow 0.3s ease-in-out;
}
/* DISPOSITIVOS MÓVILES */
@media only screen and (max-width: 950px) {
    #gorilla360 .contenedor-flex {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    #gorilla360 .columna--texto, 
    #gorilla360 .columna--slider {
        flex: 0 0 100%;
    }
    #gorilla360 #slider {
        height: auto; /* Asegurar la altura del slider */
    }
}